<div class="home">
  <h2>Welcome {{auth.profile.nickname}}</h2>
  <div class="row" ng-show='!isSuccess'>
    <div class="span4 offset4">
      <div class="row">
        
        <div class="span4">
          <h3>Donate $10 to the poor developer!</h3>
        </div>
        
        <form stripe-form="handleStripe" name="myForm">

          <div class="span3">
            <label for="">Card number</label>
            <input type="text" class="input-block-level" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type"/>
          </div>
          
          <div class="span1">
            <label for="">Expiry</label>
            <input type="text" class="input-block-level" ng-model="expiry" payments-validate="expiry" payments-format="expiry" />
          </div>
          
          <div class="span3">
            <label for="">Name on card </label>
            <input type="text" class="input-block-level">
          </div>
          
          <div class="span1">
            <label for="">CVC</label>
            <input type="text" class="input-block-level" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
          </div>
          
          <div class="span4">
            <button type="submit" class="btn btn-primary btn-large" ng-class="{disabled: isLoading}">Donate $10</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <h3 ng-show='isSuccess'> You have successfully donated $10 </h3>
	<h3> <button class="btn btn-warn" ng-class="{disabled: isCalled}" ng-click="callApi()">Check Api</button> </h3>
	<h3> <button class="btn btn-danger" ng-click="logout()">Logout</button> </h3>
</div>
